@import '../../styles/variables.pcss';
/* @import '../../styles/fonts.pcss'; */

@media (--tablet) {
  .test {
    background: blueviolet;
    color: #fff;
  }
}

.test {
  background: aquamarine;
  font-size: 5em;
}




