@import '../../styles/variables.pcss';
@import '../../styles/fonts.pcss';

@media screen and (max-width: 768px) {
  .test {
    background: blueviolet;
    color: #fff;
  }
}

.test {
  background: aquamarine;
  size: 50px 70px;
  padding: 20px;
  font-family: 'Open Sans';
  font-size: 5em;
}




